<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/bootstrap.min.css"/>
    <title>测试页面</title>
</head>
<body>
<div class="container" style="padding-top: 15px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                你好 $!{name}
            </h3>
        </div>
        <div class="panel-body">
            $!{data}
        </div>
    </div>
</div>

<script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap/bootstrap.min.js"></script>
</body>
</html>